<div class="container">

    <header class="jumbotron text-center">
        <h1><img src="/assets/img/burger_2-512.png" width="70px" alt="Burger Icon"> Eat-Da-Burger!</h1>
        <hr>
        <h2 class="mb-4">Enter the name of a burger you would like to add and click the devour button to eat the
            burger!</h2>
    </header>

    <!-- Display burgers -->
    <section class="row">

        <!-- Burgers that are not devoured -->
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Burgers to eat</h5>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                        {{#unless devoured}}
                            <li class="list-group-item">{{id}}. {{burger_name}} <button class="btn btn-primary btn-sm float-right devourButton" data-burger-id="{{id}}">Devour</button></li>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Burgers that are devoured -->
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Burgers devoured</h5>
                    <ul class="list-group list-group-flush">
                        {{#each burgers}}
                        {{#if devoured}}
                            <li class="list-group-item">{{id}}. {{burger_name}}</li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <!--Add a burger section -->
    <section class="row mt-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add a new burger</h5>
                    <form id="addBurgerForm" class="needs-validation" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" name="burgerName" placeholder="Enter a Burger Name"
                                required>
                            <div class="invalid-feedback">
                                Please enter a burger name.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Burger</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>